<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="http://localhost/www/Sistema%20de%20Login_MVC/assets/css/style_login.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
</head>
<body>

	<header>
		<div class="content_area">
		Bem vindo {{name_user}},

		<a href="http://localhost/www/Sistema%20de%20Login_MVC/dashboard/logout">Sair</a>
		</div>
	</header>

	<section class="box_dashboard">
		<div class="content_area">
		<h1>DASCHBOARD</h1>
	    </div>
	</section>


</body>
</html>