<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="http://localhost/www/Sistema%20de%20Login_MVC/assets/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	 <div class="box_login">
	 	<div class="capa">
	 	</div>
	 	<h1> Faça seu login</h1>

	 	<form method="POST" action="http://localhost/www/Sistema%20de%20Login_MVC/login/check">
	 		<input type="email" name="email" placeholder="E-MAIL">
	 		<input type="password" name="password" placeholder="SENHA">

	 		<button class="btn-login">LOGAR</button>

	 		{% if error != '' %}

	 		<span class="msg_error"><i class="fa fa-exclamation-triangle" style="font-size: 15px; color: #FF6D6D; padding-right: 5px;"></i>Tentativa Inválida</span>
	 		
	 		{% endif %}
	 	</form>
	 </div>



</body>
</html>